{% extends 'base.html' %}

{% block title %}
Редактировать заметку
{% endblock %}

{% block body %}
<div class="container py-3">
  <header>
    <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center link-body-emphasis text-decoration-none">
        <span class="fs-4">N0te</span>
      </a>

      <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
        <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="/notes">Вернуться к заметкам</a>
        <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="#">Планировщик</a>
      </nav>
    </div>

  </header>

  <main>
    <div>
      <h1>Редактирование заметки № {{ note.id }}</h1>
      <form method="POST">
        <input type="text" name="noteName" id="noteName" value="{{ note.noteName }}" class="form-control"><br>
        <textarea name="note" id="note" placeholder="{{ note.note }}" class="form-control"> {{ note.note }}</textarea><br>
        <input type="submit" class="btn btn-success" value="Сохранить и перейти к заметкам"><br>
      </form>
    </div>
  </main>
</div>
{% endblock %}
